{% extends "layout.html" %}
{% block content %}
<link rel="icon" href="static/img/cruzicon.icon">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Cedula</th>
      <th scope="col">Fecha</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Barrio</th>
      <th scope="col">Celular</th>
    </tr>
  </thead>
  {% for register in medi %}

    <tr>
      <td>{{register.0}}</td>
      <td>{{register.1}}</td>
      <td>{{register.2}}</td>
      <td>{{register.3}}</td>
      <td>{{register.4}}</td>
      <td>{{register.5}}</td>
      <td>{{register.6}}</td>
    </tr>
    
  {% endfor %}

</table>

{% include "footer.html" %}

{% endblock %}